* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.main-landing-wrapper {
  border: 3px solid red;
  height: 85vh;
  display: flex;
  align-items: center;
}
.inner-landing-page{
  border: 3px solid blue;
  width: 50%;
  padding: 20px;
}
.inner-header-class {
  border: 3px solid red;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
}
#btn-style{
  margin: 2px;
}
.inner-header-class h1{
  font-size: 20px;
}